import router from '@/router/index';
import { clearStorage } from '@/utils/local-storage';
import useAxiosInterceptors from '@/utils/use-axios';

const { get: GET, post: POST } = useAxiosInterceptors({
    url: import.meta.env.VITE_API_URL as string,

    successValidate: data => {
        if (data.code === 200) {
            return true;
        }

        return false;
    },

    // 退出登录
    expireCallback: () => {
        clearStorage();
        router.push(`/login?redirect=${router.currentRoute.value.path}`);
    },
});

export { GET, POST };
